* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

#header-img {
  display: flex;
  position: relative;
  width: 300px;
  height: 30px;
  margin: 10px;
}

#nav-bar {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  gap: 100px;
  margin: auto 30px auto auto;
}

#product-landing-content {
  margin-top: 80px;
}

#inquire {
  margin-top: 10px;
  text-align: center;
}

#form {
  margin-top: 0;
  padding-top: 0;
}

#email {
  display: block;
  width: 250px;
  margin: auto;
  padding: 5px;
}

#submit {
  display: block;
  margin: 10px auto;
  padding: 5px 5px 5px 15px;
  border: 0;
  background-color: rgb(245, 179, 57);
  font-weight: bold;
}

#features {
  display: block;
  margin: 40px 30px auto 150px;
}

#premium-material,
#fast-shipping,
#quality-assurance {
  display: grid;
  grid-template-columns: 1.5fr 11fr;
  align-items: center;
  margin: 20px 0;
}

.fas {
  display: grid;
  font-size: 40px;
  color: orange;
  justify-content: center;
}

span {
  font-size: 20px;
  font-weight: bold;
}

#features p:not(span) {
  font-size: 15px;
}

#video {
  display: block;
  margin: 50px auto;
  width: 400px;
  height: 250px;
}

#pricing {
  display: flex;
  justify-content: center;
  margin: 40px 100px;
  gap: 15px;
}

#price1,
#price2,
#price3 {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h5 {
  background-color: rgb(207, 221, 221);
  margin-top: 0;
  padding: 10px;
}

#price {
  font-size: 25px;
  font-weight: bold;
  margin: auto;
}

#pricing p:not(#price) {
  display: block;
  margin: 20px;
}

button {
  margin: 10px 50px;
  padding: 5px;
  border: 0;
  background-color: orange;
}

footer {
  display: block;
  background-color: rgb(207, 221, 221);
  text-align: end;
  margin: 0 100px 0 100px;
  padding: 20px;
}

footer p {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #features {
  grid-template-columns: 1fr;
  }
}